<html>
    <head>
        <title>services.odyssey346.dev</title>
        <link rel="stylesheet" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>502 / Bad Gateway</h1>
        <h2>Seems like the service you were using is currently having some issues.</h2>
        <p>Here's what you can do:</p>
        <ul>
            <li>Wait, it might fix itself</li>
            <li>If it doesn't fix itself, <a href="mailto:hi@odyssey346.dev">mail me!</a></li>
        </ul>
        <p>In the meantime... enjoy this cat gif!</p>
        <a href="/">Go back to the homepage</a>
    </body>
</html>