<html>
    <head>
        <title>services.odyssey346.dev</title>
        <link rel="stylesheet" href="/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>services.odyssey346.dev / <a href="https://github.com/Odyssey346/services-go">source code</a></h1>
        <h2>Front-ends</h2>
        <p>These are front-ends to popular services, which you can use to improve your privacy, bypass restrictions, or reduce bandwidth usage.</p>
        <p>If you have any feedback regarding these instances, <a href="/feedback">you can send them here.</a></p>
        <details>
            <summary>Why use my front-end instances over anyone elses</summary>
            <ul>
                <li>Automatic updates - these instances check for updates every 3 hours. This means that you will get the latest and greatest privacy experience.</li>
                <li>EU based - my servers are located in France and Poland.</li>
                <li>No logs - I will never figure out who is using my instances.</li>
                <li>Security - my server does not have any unnecessary ports open and we use Caddy instead of Nginx which is a more secure web server. I also containerize all the services.</li>
                <li>No modifications done to the frontends - just a nice, stock experience like the frontend's developer intended.</li>
            </ul>
        </details>
        {{ if eq .invidious 200}}
            <p><a href="https://inv.odyssey346.dev">Invidious</a> - <a href="http://ytzrxeca5esxa356lxrhk6kq5qfgk4rqh4ubadnrlxyfvgx7qiwpc6ad.onion">Tor</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://inv.odyssey346.dev" class="redHover">Invidious</a> - <a href="http://ytzrxeca5esxa356lxrhk6kq5qfgk4rqh4ubadnrlxyfvgx7qiwpc6ad.onion">Tor</a> <span class="red">Down!</span> </p>
        {{ end }}
        {{ if eq .libreddit 200}}
            <p><a href="https://lr.odyssey346.dev">Libreddit</a> - <a href="http://k5gwkfcseyq6rzy6zhobf37kze5agzbyvvlk7ab426bn24kawsfo2eid.onion">Tor</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://lr.odyssey346.dev" class="redHover">Libreddit</a> - <a href="http://k5gwkfcseyq6rzy6zhobf37kze5agzbyvvlk7ab426bn24kawsfo2eid.onion">Tor</a> <span class="red">Down!</span> </p>
        {{ end }}
        {{ if eq .quetre 200}}
            <p><a href="https://qtr.odyssey346.dev">Quetre</a> - <a href="http://web3bb7xpjq5welndvauteqirntzph2zwqiw5pavlmh4nq3nqhawxwyd.onion">Tor</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://qtr.odyssey346.dev" class="redHover">Quetre</a> - <a href="http://web3bb7xpjq5welndvauteqirntzph2zwqiw5pavlmh4nq3nqhawxwyd.onion">Tor</a> <span class="red">Down!</span> </p>
        {{ end }}
        {{ if eq .breezewiki 200}}
            <p><a href="https://bw.odyssey346.dev">BreezeWiki</a> - <a href="http://2k2me2br7jpnbzbgomnylnb5tcdxqvw33ubs2tglebditudae6lselqd.onion">Tor</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://bw.odyssey346.dev" class="redHover">BreezeWiki</a> - <a href="http://2k2me2br7jpnbzbgomnylnb5tcdxqvw33ubs2tglebditudae6lselqd.onion">Tor</a> <span class="red">Down!</span> </p>
        {{ end }}
        {{ if eq .rimgo 200}}
            <p><a href="https://rim.odyssey346.dev">rimgo</a> - <a href="http://smazawzizvovtqylngjxkzbxeuzn4qhhvzvnhuohc6jmqdigzcobrnid.onion">Tor</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://rim.odyssey346.dev" class="redHover">rimgo</a> <a href="http://smazawzizvovtqylngjxkzbxeuzn4qhhvzvnhuohc6jmqdigzcobrnid.onion">Tor</a> <span class="red">Down!</span> </p>
        {{ end }}
        {{ if eq .proxitok 200}}
            <p><a href="https://proxitok.odyssey346.dev">ProxiTok</a> - <a href="http://5b3ehzugmhkgthae6mb6cfilyyq6xc2izuptozsgpwspbijuyyfl2zad.onion">Tor</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://proxitok.odyssey346.dev" class="redHover">ProxiTok</a> - <a href="http://5b3ehzugmhkgthae6mb6cfilyyq6xc2izuptozsgpwspbijuyyfl2zad.onion">Tor</a> <span class="red">Down!</span> </p>
        {{ end }}
        {{ if eq .nitter 200}}
            <p><a href="https://ntr.odyssey346.dev">Nitter</a> - <a href="http://hwt2dodwakmiizczfcfwtioiawclqumw4pza2epkoimwagab5sltuqqd.onion">Tor</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://ntr.odyssey346.dev" class="redHover">Nitter</a> - <a href="http://hwt2dodwakmiizczfcfwtioiawclqumw4pza2epkoimwagab5sltuqqd.onion">Tor</a> <span class="red">Down!</span> </p>
        {{ end }}
        <h2>Originals</h2>
        <p>These are services I have made myself.</p>
        {{ if eq .memestream 200}}
            <p><a href="https://ms.odyssey346.dev">memestream</a> <span class="green">Up!</span> </p>
        {{ else }}
            <p><a href="https://ms.odyssey346.dev" class="redHover">memestream</a> <span class="red">Down!</span> </p>
        {{ end }}
        <p>This website... should be <span class="green">up</span>?</p>
        <b>Status retrieved at {{.time}}</b>
    </body>
</html>