@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    background-color: #171717;
    color: #fff;
    font-family: "Nunito", sans-serif;
}

a {
    color: #fff;
    text-underline-offset: 5px;
}

.green {
    color: #00ff00;
}

.red {
    color: #ff0000;
}

a:hover {
    color: #00d455;
}

.redHover:hover {
    color: #ff0000;
}

.selectService {
    background-color: #252525;
    border: 1px solid #252525;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
}

.selectEmail {
    background-color: #252525;
    border: 1px solid #252525;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
}

.messageBox {
    background-color: #252525;
    border: 1px solid #252525;
    color: #fff;
    border-radius: 8px;
    padding: 5px;
}

.sendButton {
    background-color: #252525;
    border: 1px solid #252525;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
}

.sendButton:hover {
    background-color: #00d455;
    border: 1px solid #00d455;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
